<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <h2>Download success!</h2>
        <form action="index.html">
            <input type="submit" value="back to index">
        </form>
    </body>
</html>
