<!DOCTYPE html>
<html>
<body>

<h2>Youtube to MP3</h2>

<form action="/loadVideo">
  <br>
  <input type="text" id="urlTextField" name="urlField" placeholder="youtube url" size="35">
  <br>
  <br>
  <input type="submit"  value="Convert" onclick="return checkField()">
</form>

</body>
<script type="text/javascript" src="/public/js/indexControler.js"></script>
</html>
